<footer class="footer" style="background-color: #209cee !important;">
  <div class="content has-text-centered">
    <p>
      <strong>AI Interview Tool, 2020</strong>
      <p>by <a style="color: white !important;" href="github.com/yaiestura">Pavel Tsvetov</a>. The source code is licensed</p>
      <p><a style="color: white !important;" href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
      The website content is licensed
      <p><a style="color: white !important;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a></p>
    </p>
  </div>
</footer>