<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/admin.css') }}"><link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />

{% extends 'index.html' %}

{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li>
                          <a class="is-active" href="{{ url_for('dashboard') }}">
                            Dashboard
                          </a>
                        </li>
                        <li>
                            <a href="{{url_for('download_report')}}" target="_blank">
                                Download report
                            </a>
                        </li>
                        <li>
                            <a>Assessment</a>
                            <ul>
                                <li>
                                    <a href="{{ url_for('statistics') }}">
                                        Statistics
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('resume_analysis') }}">
                                      Resume
                                    </a>
                                </li>
                                <li>
                                  <a href="{{ url_for('letter_analysis') }}">
                                    Motivational Letter
                                  </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('video_analysis') }}">
                                      Video Interview
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('audio_analysis') }}">
                                      Audio Analysis
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('blinking_counter') }}">
                                      Blinking Counter
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Uploads
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="{{ url_for('uploads') }}">
                                My Uploads
                            </a>
                            <ul>
                                <li>
                                  <a href="{{ url_for('upload_resume') }}">
                                    Upload a Resume
                                  </a>
                                </li>
                                <li>
                                  <a href="{{ url_for('upload_letter') }}">
                                    Upload a Cover Letter
                                  </a>
                                </li>
                                <li>
                                  <a href="{{ url_for('upload_video') }}">
                                    Upload a Video
                                  </a>
                                </li>
                                <li>
                                  <a href="{{ url_for('upload_audio') }}">
                                    Upload an Audio
                                  </a>
                                </li>
                                <li>
                                  <a href="{{ url_for('record_video') }}">
                                    Record a Video
                                  </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Miscellaneous
                    </p>
                    <ul class="menu-list">
                        <li><a href="https://core.telegram.org/bots" target="_blank">Open in Telegram <span>(in dev)</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="/">
                                <span class="icon is-small">
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                </span>
                                AI Interview Tool
                            </a>
                        </li>
                        <li class="is-active">
                            <a href="/" aria-current="page">
                                <span class="icon is-small">
                                    <i class="fas fa-desktop" aria-hidden="true"></i>
                                </span>
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </nav>
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, {{ current_user.uname }}.
                            </h1>
                            <h2 class="subtitle">
                                I hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ time }}</p>
                                <p class="subtitle">Registered<br>from</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ documents }}</p>
                                <p class="subtitle">Documents uploaded</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ users_number }}</p>
                                <p class="subtitle">Active<br>users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">5</p>
                                <p class="subtitle">Core<br>functions</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-7">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Events
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                {% if uploads["is_resume_uploaded"] == "Yes" %}
                                                        <td>Your Resume is successfully uploaded</td>
                                                        <td class="level-right"><a class="button is-small is-primary" href="{{ url_for('resume_analysis') }}">Examine</a></td>
                                                {% else %}
                                                        <td>You can upload your Resume here</td>
                                                        <td class="level-right"><a class="button is-small is-danger" href="{{ url_for('upload_resume') }}">Proceed</a></td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                {% if uploads["is_letter_uploaded"] == "Yes" %}
                                                        <td>Your CV letter is successfully uploaded</td>
                                                        <td class="level-right"><a class="button is-small is-primary" href="{{ url_for('letter_analysis') }}">Examine</a></td>
                                                {% else %}
                                                        <td>You can upload your CV letter here</td>
                                                        <td class="level-right"><a class="button is-small is-danger" href="{{ url_for('upload_letter') }}" >Proceed</a></td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                {% if uploads["is_video_uploaded"] == "Yes" %}
                                                        <td>Your Video Interview is successfully uploaded</td>
                                                        <td class="level-right"><a class="button is-small is-primary" href="{{ url_for('video_analysis') }}">Examine</a></td>
                                                {% else %}
                                                        <td>You can upload your Video Interview here</td>
                                                        <td class="level-right"><a class="button is-small is-danger" href="{{ url_for('upload_video') }}">Proceed</a></td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                {% if uploads["is_audio_uploaded"] == "Yes" %}
                                                        <td>Your Audio Interview is successfully uploaded</td>
                                                        <td class="level-right"><a class="button is-small is-primary" href="{{ url_for('audio_analysis') }}">Examine</a></td>
                                                {% else %}
                                                        <td>You can upload your Audio Interview here</td>
                                                        <td class="level-right"><a class="button is-small is-danger" href="{{ url_for('upload_audio') }}" >Proceed</a></td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-5 is-vcentered">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Useful Websites
                                </p>
                            </header>
                            <div class="card-table is-vcentered">
                                <div class="content is-vcentered">
                                    <table class="table is-fullwidth is-vcentered">
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Find a job: HeadHunter</td>
                                                <td><a class="has-text-primary" href="https://hh.ru/">Proceed</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Find a job: Indeed.com</td>
                                                <td><a class="has-text-primary" href="https://www.indeed.com/">Proceed</a></td>
                                            </tr>
                                                <td>3</td>
                                                <td>Understanding Body Language</td>
                                                <td>
                                                    <a class="has-text-primary" href="https://www.verywellmind.com/understand-body-language-and-facial-expressions-4147228">
                                                        Proceed
                                                    </a>
                                                </td>
                                            <tr>
                                                <td>4</td>
                                                <td>Linkedin: professional community</td>
                                                <td><a class="has-text-primary" href="https://www.linkedin.com/">Proceed</a></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>AI Pre-Hire Assessment</td>
                                                <td><a class="has-text-primary" href="https://www.hirevue.com/">Proceed</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <p href="#" class="card-footer-item">2020</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}



