{% extends 'index.html' %}

{% block body %}

<div class="container" style="margin-top: 20px;">

	<section class="hero is-primary is-bold" style="border-radius: 10px;">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					<i class="fas fa-arrow-alt-circle-right"></i>&nbsp;Login
				</h1>
				<h2 class="subtitle">
					Primary subtitle
				</h2>
			</div>
		</div>
	</section>

	<div class="container column is-half box" style="margin-top: 20px;">
		<form method="post" action="" style="margin-top: 30px;">
			<div class="field">
				{{ form.email.label(class="label") }}
			  <p class="control has-icons-left has-icons-right">
					{% if form.email.errors %}
							{{ form.email(class="input is-danger", type="email", placeholder="Enter your email...") }}
							<span class="icon is-small is-left">
						    <i class="fas fa-envelope"></i>
							</span>
							<span class="icon is-small is-right">
								<i class="fas fa-check"></i>
							</span>
							<div class="help is-danger">
									{% for error in form.email.errors %}
											{{ error }}
									{% endfor %}
							</div>
					{% else %}
							{{ form.email(class="input", type="email", placeholder="Enter your email...") }}
							<span class="icon is-small is-left">
						    <i class="fas fa-envelope"></i>
							</span>
							<span class="icon is-small is-right">
								<i class="fas fa-check"></i>
							</span>
					{% endif %}
				</p>
			</div>
			<div class="field">
				{{ form.password.label(class="label") }}
				<p class="control has-icons-left">
					{% if form.password.errors %}
							{{ form.password(class="input is-danger", type="password", placeholder="Enter your password...") }}
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
							<div class="help is-danger">
									{% for error in form.password.errors %}
											{{ error }}
									{% endfor %}
							</div>
					{% else %}
							{{ form.password(class="input", type="password", placeholder="Enter your password...") }}
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
					{% endif %}
				</p>
      </div>
			<div class="field has-text-centered">
				{{ form.submit(class="button is-primary is-medium") }}
      </div>
		</form>
		<div class="has-text-centered">
			<a href="{{ url_for('signuppage') }}" class="is-link">
				<small>Do not have an account yet?</small>
			</a>
		</div>
	</div>
</div>

{% endblock %}